$darkcolor: #1f2e39;
$lightishblue: #387fff;
$cloudyblue: #cbd6dd;
$shadow: #d3d3d3;
$dodger-blue: #377efc;
$job-item: #fafcfd;
$opaque-color: rgba(31, 46, 57, 0.4);
$detail-background: #f3f8fb;
$status-background: #7cfad2;
$border-color: #e2e9ee;
