@import "variables";
.chef-profile-page {
  .top {
    padding-left: 14vw;
    padding-right: 16.8vw;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    .avatar {
      width: 182px;
      border-radius: 182px;
      height: 182px;
      flex-shrink: 0;
    }
    .middle {
      padding-left: 50px;
      padding-right: 150px;
      h2 {
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 25px;
      }
      .title {
        display: flex;
        font-size: 14px;
        font-weight: 700;
        color: $opaque-color;
        letter-spacing: 0.2px;
        margin-bottom: 20px;
      }
      .summary {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        line-height: 1.36;
        color: $opaque-color;
        max-width: 400px;
      }
      .links {
        margin-top: 20px;
        img {
          margin-right: 20px;
          opacity: 0.3;
          cursor: pointer;
          height: 30px;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        width: 192px;
      	height: 50px;
      	border-radius: 100px;
      	border: solid 1px $border-color;
        background-color: white;
        color: $opaque-color;
        font-size: 14px;
        font-weight: 900;
        cursor: pointer;
        margin-bottom: 20px;
        outline: none;
        &:hover {
          color: white;
          border: 1px solid $lightishblue;
          background-color: $lightishblue;
          box-shadow: rgba(167, 174,189, 0.2) 0 9px 15px 0;
        }
      }
    }
  }
  .bottom {
    background-color: #f4f8fb;
    padding-left: 23vw;
    padding-right: 23vw;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 30px;
    .summary {
      background-color: #fff;
      line-height: 1.43;
      font-size: 14px;
      padding: 30px;
      border: 1px solid $border-color;
      border-radius: 3px;
      h3 {
          text-transform: uppercase;
          font-weight: 700;
          color: $darkcolor;
          margin-bottom: 30px;
      }
      div {
        color: $opaque-color;
        padding-left: 50px;
        padding-right: 20px;
      }
    }
    .experience {
      background-color: #fff;
      line-height: 1.43;
      font-size: 14px;
      padding: 30px;
      border: 1px solid $border-color;
      border-radius: 3px;
      margin-top: 30px;
      padding-right: 0;
      h3 {
          text-transform: uppercase;
          font-weight: 700;
          color: $darkcolor;
          margin-bottom: 30px;
      }
      &>div {
        margin-left: 50px;
        font-weight: 700;
        padding-bottom: 30px;
        padding-top: 30px;
        .main {
          display: flex;
          position: relative;
          align-items: flex-start;
          img {
            flex-shrink: 0;
            margin-right: 30px;
            position: relative;
            top:5px;
          }
          .duration {
            color: $opaque-color;
            position: absolute;
            right: 70px;
            top: 40px;
            font-weight: 500;
          }
          .middle {
            h4 {
              font-size: 20px;
              margin-bottom: 10px;
            }
            .detail {
              display: flex;
              color: $opaque-color;
              align-items: center;
              .left {
                font-size: 18px;
              }
            }
          }
        }
        .description {
          margin-top: 10px;
          line-height: 1.43;
          color: $opaque-color;
          font-size: 14px;
          font-weight: 500;
          padding: 0 40px;
        }
      }
      &>div:not(:last-of-type) {
        border-bottom: 1px solid $border-color;
      }
    }
    .awards {
      background-color: #fff;
      line-height: 1.43;
      font-size: 14px;
      padding: 30px;
      border: 1px solid $border-color;
      border-radius: 3px;
      margin-top: 30px;
      h3 {
          text-transform: uppercase;
          font-weight: 700;
          color: $darkcolor;
          margin-bottom: 30px;
      }
      &>div {
        margin-left: 50px;
        font-weight: 700;
        padding-bottom: 30px;
        padding-top: 30px;
        .main {
          display: flex;
          position: relative;
          align-items: flex-start;
          img {
            flex-shrink: 0;
            margin-right: 30px;
            position: relative;
            top:5px;
          }
          .duration {
            color: $opaque-color;
            position: absolute;
            right: 70px;
            top: 40px;
            font-weight: 500;
          }
          .middle {
            h4 {
              font-size: 20px;
              margin-bottom: 10px;
            }
            .detail {
              display: flex;
              color: $opaque-color;
              align-items: center;
              .left {
                font-size: 18px;
              }
            }
          }
        }
        .description {
          margin-top: 10px;
          line-height: 1.43;
          color: $opaque-color;
          font-size: 14px;
          font-weight: 500;
          padding: 0 40px;
        }
      }
      &>div:not(:last-of-type) {
        border-bottom: 1px solid $border-color;
      }
    }
    .education {
      background-color: #fff;
      line-height: 1.43;
      font-size: 14px;
      padding: 30px;
      border: 1px solid $border-color;
      border-radius: 3px;
      margin-top: 30px;
      padding-right: 0;
      h3 {
          text-transform: uppercase;
          font-weight: 700;
          color: $darkcolor;
          margin-bottom: 30px;
      }
      &>div {
        margin-left: 50px;
        font-weight: 700;
        padding-bottom: 30px;
        padding-top: 30px;
        .main {
          display: flex;
          position: relative;
          align-items: flex-start;
          img {
            flex-shrink: 0;
            margin-right: 30px;
            position: relative;
            top:5px;
          }
          .duration {
            color: $opaque-color;
            position: absolute;
            right: 70px;
            top: 40px;
            font-weight: 500;
          }
          .middle {
            h4 {
              font-size: 20px;
              margin-bottom: 10px;
            }
            .detail {
              display: flex;
              color: $opaque-color;
              align-items: center;
              .left {
                font-size: 18px;
              }
            }
          }
        }
        .description {
          margin-top: 10px;
          line-height: 1.43;
          color: $opaque-color;
          font-size: 14px;
          font-weight: 500;
          padding: 0 40px;
        }
      }
      &>div:not(:last-of-type) {
        border-bottom: 1px solid $border-color;
      }
    }
    .languages {
      background-color: #fff;
      line-height: 1.43;
      font-size: 14px;
      padding: 30px;
      border: 1px solid $border-color;
      border-radius: 3px;
      margin-top: 30px;
      padding-right: 0;
      h3 {
          text-transform: uppercase;
          font-weight: 700;
          color: $darkcolor;
          margin-bottom: 30px;
      }
      &>div {
        margin-left: 50px;
        font-weight: 700;
        padding-bottom: 30px;
        padding-top: 30px;
        .main {
          display: flex;
          position: relative;
          align-items: flex-start;
          img {
            flex-shrink: 0;
            margin-right: 30px;
            position: relative;
            top:5px;
          }
          .duration {
            color: $opaque-color;
            position: absolute;
            right: 70px;
            top: 0px;
            font-weight: 700;
            font-size: 18px;
          }
          .middle {
            h4 {
              font-size: 20px;
              margin-bottom: 10px;
            }
            .detail {
              display: flex;
              color: $opaque-color;
              align-items: center;
              .left {
                font-size: 18px;
              }
            }
          }
        }
        .description {
          margin-top: 10px;
          line-height: 1.43;
          color: $opaque-color;
          font-size: 14px;
          font-weight: 500;
          padding: 0 40px;
        }
      }
      &>div:not(:last-of-type) {
        border-bottom: 1px solid $border-color;
      }
    }
      }
}
