@import "variables";
nav.header {
  font-size: 0.78em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    img {
      margin-right: 10px;
      position: relative;
      top: -1px;
    }
  }
  a {
    text-decoration: none;
    color: $darkcolor;
  }
  .links {
    display: flex;
    align-items: center;
    a {
      margin-right: 40px;
      letter-spacing: 0.5px;
      &.login {
          display: inline-block;
          text-align: center;
      }
      &.signup {
          border: 1px solid $lightishblue;
          color: $lightishblue;
          width: 130px;
          height: 40px;
          display: flex;
          border-radius: 100px;
          opacity: 1;
          margin-right: 0;
          font-size: 13px;
          letter-spacing: 1px;
          justify-content: center;
          align-items: center;
      }
      &:hover {
        background-color: $lightishblue;
        color: #fff;
      }
    }
  }
}
