@import "variables";
$leftrightpadding: 9vw;
.home {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	min-height: 100vh;
	.section-divider
	{
		height: 1px;
		background-color: $cloudyblue;
		margin: 100px 0;
		opacity: 0.5;
	}
	.hero {
		padding: 30px $leftrightpadding;
		background-image: linear-gradient(290deg, #7bedc1, #acffe3);
		overflow: hidden;
		nav {
			font-size: 0.78em;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.logo {
				display: flex;
				align-items: center;
				font-size: 1.5em;
				img {
					margin-right: 10px;
				}
			}
			a {
				text-decoration: none;
				color: $darkcolor;
			}
			.links {
				a {
					margin-right: 30px;
					&.signup:hover, &.login:hover {
						background-color: $lightishblue;
					    color: white;
					    width: 9.27em;
					    display: inline-block;
					    line-height: 2.85em;
					    text-align: center;
					    border-radius: 100px;
							border: 0;
							opacity: 1;
					}
					&.login, &.signup {
					    width: 9.27em;
					    display: inline-block;
					    line-height: 2.85em;
					    text-align: center;
					    border-radius: 100px;
					    border: 1px solid $darkcolor;
					}
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
		.proposition {
			display: flex;
			align-items: stretch;
			div {
				width: 50%;
			}
			h2 {
				font-size: 2.75em;
			    line-height: 1.25;
			    margin-top: 2.3em;
			}
			h3 {
				font-size: 1.2em;
			    line-height: 1.5;
			    margin-top: 1.2em;
			}
			img {
				margin-top: 30px;
				margin-bottom: -31px;
			}
		}
	}
	.search {
		margin: 30px $leftrightpadding;
		border: 1px solid $cloudyblue;
		height: 100px;
		display: flex;
		align-items:center;
		font-size: 1em;
		border-radius: 2px;
		box-shadow: $shadow 0 4px 10px;
		position: relative;
		.dropdown {
			position: absolute;
	    background: white;
	    top: 101px;
	    left: 0;
	    right: 0;
	    border: 1px solid $cloudyblue;
	    border-radius: 2px;
			.option {
				padding: 12px;
				cursor: pointer;
				padding-left: 100px;
				&:hover, &.selected {
					background-color: #edf2f5;
					color: $lightishblue;
				}
			}
		}
		.search-icon {
			position: relative;
		    top: 5px;
		    margin-left: 40px;
		    margin-right: 20px;
		}
		&>input {
			flex: 1;
			border: none;
			font-size: 1em;
			outline: none;
			font-family: Gilory;
			&::placeholder {
				color: $darkcolor;
			}
		}
		.divider {
			background-color: $cloudyblue;
			width: 1px;
			height: 58%;
			margin-right: 30px;
			margin-left: 30px;
		}
		.location {
			position: relative;
			min-width: 140px;
		}
		.triangle-down {
			position: relative;
			top: 5px;
			margin-right: 20px;
			margin-left: 20px;
			cursor: pointer;
		}

		button
		{
			width: 270px;
			background-color: $lightishblue;
			color: white;
			cursor: pointer;
			align-self: stretch;
		    outline: none;
		    border: 0;
		    font-size: 1em;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	.create-profile {
		margin: 30px $leftrightpadding;
		h2 {
			font-size: 2.75em;
		    line-height: 1.25;
		    margin-bottom: 60px;
		}
		.steps {
			display: flex;
			&>div {
				flex: 1;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				.image-container {
					height: 150px;
					margin-bottom: 40px;
				}
			}
			&>div:not(:last-of-type) {
				margin-right: 69px;
			}
			h3
			{
				font-size: 1.35em;
			}
			p {
				line-height: 1.56em;
			    text-align: center;
			    margin-top: 22px;
			}
		}
	}
	.jobs {
		margin: 0 $leftrightpadding;
		h2 {
			font-size: 2.75em;
		    line-height: 1.25;
		    margin-bottom: 20px;
		}
		h3 {
			font-size: 1.35em;
		}
	}
	.why-chefstalk {
		margin: 0 $leftrightpadding;
		h2 {
			font-size: 2.75em;
		    line-height: 1.25;
		    margin-bottom: 70px;
		}
		.reasons {
			display: flex;
			h3 {
				font-size: 1.35em;
				margin-bottom: 20px;
			}
			p {
				line-height: 1.67;
				letter-spacing: 0.2px;
			}
			div {
				flex: 1;
			}
			div:not(:last-of-type) {
				margin-right: 100px;
			}
		}
		.start-apply {
			margin-top: 100px;
			margin-bottom: 63px;
			font-size: 1.35em;
			text-align: center;
		}
		.signup
		{
			margin: 0 100px;
			height: 150px;
			border-radius: 5px;
			background-color: $lightishblue;
			position: relative;
			.footer-man {
			    position: relative;
			    top: -13px;
			    margin-left: 100px;
			}
			button {
				border-radius: 100px;
				border: 0;
				outline: none;
				font-size: 1.1rem;
				padding: 1em 2em;
				color: $lightishblue;
				background-color: white;
				position: absolute;
				right: 100px;
				top: 45px;
				cursor: pointer;
				text-transform: uppercase;
				&:hover {
					background-color: rgb(240,240,240);
				}
			}
		}
	}
	footer {
		margin: 0 $leftrightpadding;
		display: flex;
		justify-content: space-between;
		.links {
			flex: 1;
			display: flex;
			flex-direction: column;
			h3 {
				font-size: 1.35em;
				margin-bottom: 2em;
			}
			a {
				margin-bottom: 0.5em;
				color: $darkcolor;
				opacity: 0.5;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					opacity: 0.3;
				}
				&.country {
					margin-top: 1.5em;
				}
				.dropdown {
					margin-left: 5px;
					font-size: 0.7em;
				}
			}
		}
	}
	.copyright {
		margin-top: 40px;
		margin-bottom: 160px;
		text-align: center;
		opacity: 0.5;
	}
}
