@import "variables";
$leftrightpadding: 135px;
.home {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	min-height: 100vh;
	.section-divider
	{
		height: 1px;
		background-color: $cloudyblue;
		margin: 100px 0;
		opacity: 0.5;
	}
	.hero {
		padding: 30px $leftrightpadding;
		background-image: linear-gradient(290deg, #7bedc1, #acffe3);
		overflow: hidden;
		padding-bottom: 0;
		nav {
			font-size: 0.78em;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: 600;
			.logo {
				display: flex;
				align-items: center;
				font-size: 24px;
				font-weight: 900;
				img {
					margin-right: 10px;
					position: relative;
					top: -1px;
				}
			}
			a {
				text-decoration: none;
				color: $darkcolor;
			}
			.links {
				display: flex;
				align-items: center;
				a {
					margin-right: 40px;
					letter-spacing: 0.5px;
					&.login {
					    display: inline-block;
					    text-align: center;
					}
					&.signup {
 							background-color: $lightishblue;
					    color: #fff;
							width: 130px;
							height: 40px;
					    display: flex;
					    border-radius: 100px;
							border: 0;
							opacity: 1;
							margin-right: 0;
							font-size: 13px;
							letter-spacing: 1px;
							justify-content: center;
							align-items: center;
					}
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
		.proposition {
			display: flex;
			align-items: stretch;
			div {
				width: 50%;
			}
			h2 {
				font-size: 48px;
		    line-height: 60px;
		    margin-top: 111px;
		    font-weight: 900;
		    letter-spacing: 0.3px;
			}
			h3 {
				font-size: 20px;
		    line-height: 30px;
		    margin-top: 21px;
		    opacity: 0.4;
		    font-weight: 500;
			}
			img {
				margin-top: 23px;
		    position: relative;
		    left: -21px;
		    top: 3px;
			}
		}
	}
	.search {
		margin: 40px $leftrightpadding;
		border: 1px solid $cloudyblue;
		border-radius: 5px;
		height: 100px;
		display: flex;
		align-items:center;
		font-size: 1em;
		position: relative;
		.search-term-container {
			display: flex;
			flex-wrap: wrap;
			&.no-input {
				flex: 1;
			}
			overflow: hidden;
		}
		.search-term {
			font-size: 14px;
			background: #EEF2F5;
			padding: 12px;
			border-radius: 100px;
			padding-right: 30px;
			margin-right: 20px;
			position: relative;
			margin-bottom: 5px;
			margin-top: 5px;
			font-weight: 700;
			.close {
				position: absolute;
				right: 4px;
				top: 9px;
				line-height: 20px;
				font-size: 14px;
				cursor: pointer;
				color: $cloudyblue;
				border-radius: 100%;
				height: 20px;
				width: 20px;
				text-align: center;
				font-weight: 500;
			}
		}
		.dropdown {
			position: absolute;
	    background: white;
	    top: 99px;
	    left: 0;
	    right: 0;
	    border: 1px solid $cloudyblue;
	    border-radius: 2px;
			.option {
				padding: 12px;
				cursor: pointer;
				padding-left: 79px;
				&:hover, &.selected {
					background-color: #edf2f5;
					color: $lightishblue;
				}
			}
		}
		.search-icon {
			position: relative;
		    top: 5px;
		    margin-left: 30px;
		    margin-right: 10px;
		}
		&>input {
			flex: 1;
			border: none;
			font-size: 1em;
			outline: none;
			font-family: Gilory;
			&::placeholder {
				color: $opaque-color;
				font-weight: 500;
			}
		}
		.divider {
			background-color: $cloudyblue;
			width: 1px;
			height: 58%;
			margin-right: 30px;
			margin-left: 30px;
		}
		.location {
			position: relative;
			min-width: 157px;
			font-weight: 500;
			&.empty {
				color: $opaque-color;
			}
		}
		.triangle-down {
			position: relative;
			top: 3px;
			right: 3px;
			margin-right: 20px;
			margin-left: 20px;
			cursor: pointer;
		}

		button
		{
			width: 270px;
			background-color: $lightishblue;
			color: white;
			cursor: pointer;
			align-self: stretch;
	    outline: none;
	    border: 0;
	    font-size: 1em;
			font-weight: 700;
			letter-spacing: 0.5px;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	.create-profile {
		margin: 20px $leftrightpadding;
		h2 {
			font-size: 48px;
		  margin-bottom: 80px;
			font-weight: 900;
		}
		.steps {
			display: flex;
			&>div {
				flex: 1;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				.image-container {
					height: 150px;
			    margin-bottom: 40px;
			    display: flex;
			    align-items: center;
				}
			}
			&>div:not(:last-of-type) {
				margin-right: 69px;
			}
			h3
			{
				font-size: 1.35em;
				font-weight: 700;
			}
			p {
				line-height: 1.56em;
		    text-align: center;
		    margin-top: 22px;
				color: $opaque-color;
				font-weight: 300;
			}
		}
	}
	.jobs {
		margin: 0 $leftrightpadding;
		h2 {
			font-size: 2.75em;
	    line-height: 1.25;
	    margin-bottom: 20px;
			font-weight: 900;
		}
		h3 {
			font-size: 1em;
			color: $opaque-color;
		}
	}
	.why-chefstalk {
		margin: 0 $leftrightpadding;
		h2 {
			font-size: 2.75em;
		    line-height: 1.25;
		    margin-bottom: 70px;
				font-weight: 900;
		}
		.reasons {
			display: flex;
			h3 {
				font-size: 1.35em;
				margin-bottom: 20px;
				font-weight: 600;
			}
			p {
				line-height: 1.67;
				color: $opaque-color;
			}
			div {
				flex: 1;
			}
			div:not(:last-of-type) {
				margin-right: 100px;
			}
		}
		.signup
		{
			margin: 0 100px;
			height: 150px;
			border-radius: 5px;
			background-color: $lightishblue;
			position: relative;
			display: flex;
	    align-items: center;
	    margin-top: 100px;
			.start-apply {
				font-size: 1.35em;
				color: white;
				margin-left: 30px;
			}

			.footer-man {
			    position: relative;
			    top: -7px;
			    margin-left: 30px;
			}
			button {
				border-radius: 100px;
				border: 0;
				outline: none;
				font-size: 1.1rem;
				padding: 1em 2em;
				color: $lightishblue;
				background-color: white;
				position: absolute;
				right: 100px;
				top: 45px;
				cursor: pointer;
				text-transform: uppercase;
				font-weight: 600;
				&:hover {
					background-color: rgb(240,240,240);
				}
			}
		}
	}
	footer {
		margin: 0 $leftrightpadding;
		display: flex;
		justify-content: space-between;
		.links {
			flex: 1;
			display: flex;
			flex-direction: column;
			h3 {
				font-size: 20px;
				letter-spacing: 0.2px;
		    margin-bottom: 2em;
		    font-weight: 600;
			}
			a {
				margin-bottom: 0.7em;
				color: $opaque-color;
				opacity: 0.9;
				font-size: 18px;
				letter-spacing: 0.2px;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					opacity: 0.3;
				}
				&.country {
					margin-top: 1.5em;
				}
				.dropdown {
					margin-left: 5px;
					font-size: 0.7em;
				}
			}
		}
	}
	.copyright {
		margin-top: 40px;
		margin-bottom: 160px;
		text-align: center;
		opacity: 0.5;
	}
}
