@import "variables";
@media (max-width: 600px) {
$leftrightpadding: 0vw;
.home {
	display: flex !important;
	flex-flow: column;
	align-items: stretch;
	min-height: 100vh;
	.home-dots {
		text-align: center;
		justify-content: center;
		li {
			display: inline-block;
			height: 10px;
			width: 10px;
			margin-right: 8px;
			&.slick-active {
				button {
					opacity: 1;
				}
			}
			button {
				height: 8px;
		    width: 8px;
		    border: 0;
		    border-radius: 8px;
		    position: absolute;
		    text-indent: -9999px;
		    display: block;
		    padding: 0;
		    margin-right: 5px;
		    outline: none;
		    opacity: 0.5;
				background-color: $lightishblue;
			}
		}
	}
	.section-divider
	{
		height: 1px;
		background-color: $cloudyblue;
		margin: 25px 0;
		opacity: 0.5;
	}
	.hero {
		padding: 0;
		background-image: url('../images/background-mobile.png');
		overflow: hidden;
		background-size: 100vw;
		height: 104.375vw;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.search {
		margin: 30px 10px;
		border: 1px solid $cloudyblue;
		border-radius: 5px;
		height: 45px;
		display: flex;
		align-items:center;
		font-size: 16px;
		position: relative;
		.search-term-container {
			display: flex;
			flex-wrap: wrap;
			&.no-input {
				flex: 1;
			}
			overflow: hidden;
		}
		.search-term {
			font-size: 12px;
	    background: #EEF2F5;
	    padding: 10px;
	    border-radius: 100px;
	    padding-right: 20px;
	    margin-left: 8px;
	    position: relative;
	    margin-bottom: 5px;
	    margin-top: 5px;
	    font-weight: 700;
			margin-right: 0;
			.close {
				position: absolute;
				right: 2px;
				top: 7px;
				line-height: 20px;
				font-size: 14px;
				cursor: pointer;
				color: $cloudyblue;
				border-radius: 100%;
				height: 20px;
				width: 20px;
				text-align: center;
				font-weight: 500;
			}
		}
		.dropdown {
			position: absolute;
	    background: white;
	    top: 46px;
	    left: 0;
	    right: 0;
	    border: 1px solid $cloudyblue;
	    border-radius: 2px;
			font-size: 14px;
			.option {
				padding: 8px;
				cursor: pointer;
				padding-left: 20px;
				&:hover, &.selected {
					background-color: #edf2f5;
					color: $lightishblue;
				}
			}
		}
		.search-icon {
			position: absolute;
	    top: 5px;
	    right: 0;
		}
		&>input {
			flex: 1;
			border: none;
			font-size: 1em;
			outline: none;
			font-family: Gilory;
			padding-left: 10px;
			&::placeholder {
				color: $opaque-color;
				font-weight: 500;
			}
		}
		.divider {
			display: none;
		}
		.location {
			display: none;
		}
		.triangle-down {
			display: none;
		}

		button
		{
			display: none;
		}
	}
	.create-profile {
		margin: 10px $leftrightpadding;
		h2 {
			font-size: 22px;
		  margin-bottom: 20px;
			font-weight: 900;
			text-align: center;
		}
		.steps {
			.slick-list {
				overflow: hidden;
			}
			display: flex;
			flex-direction: column;
			.step {
				flex: 1;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 25px;
				.image-container {
					height: 100px;
			    margin-bottom: 10px;
			    display: flex;
			    align-items: center;
				}
			}
			.step:not(:last-of-type) {
				margin-right: 0px;
			}
			h3
			{
				font-size: 14px;
				font-weight: 700;
				margin-top: 30px;
    		white-space: nowrap;
			}
			p {
				line-height: 1.3em;
		    text-align: center;
		    margin-top: 22px;
				color: $opaque-color;
				font-weight: 300;
				font-size: 12px;
			}
		}
	}
	.jobs {
		margin: 0 $leftrightpadding;
		h2 {
			font-size: 22px;
	    line-height: 1;
	    margin-bottom: 20px;
			font-weight: 900;
			text-align: center;
		}
		h3 {
			font-size: 16px;
			color: $opaque-color;
			text-align: center;
		}
	}
	.why-chefstalk {
		margin: 0 $leftrightpadding;
		text-align: center;
		.step-number {
			font-weight: 900;
			opacity: 0.2;
			margin-bottom: 18px;
			font-size: 24px;
		}
		h2 {
			font-size: 22px;
		    line-height: 1;
		    margin-bottom: 70px;
				font-weight: 900;
		}
		.reasons {
			display: flex;
			h3 {
				font-size: 16px;
				margin-bottom: 20px;
				font-weight: 600;
			}
			p {
				line-height: 1.67;
				color: $opaque-color;
			}
			div {
				flex: 1;
			}
			div:not(:last-of-type) {
				margin-right: 100px;
			}
		}
		.signup
		{
			margin: 0 7vw;
			height: 150px;
			border-radius: 5px;
			background-color: $lightishblue;
			position: relative;
			display: flex;
	    align-items: center;
	    margin-top: 100px;
			.start-apply {
				font-size: 1.35em;
				color: white;
				margin-left: 30px;
			}

			.footer-man {
			    position: relative;
			    top: -7px;
			    margin-left: 30px;
			}
			button {
				border-radius: 100px;
				border: 0;
				outline: none;
				font-size: 1.1rem;
				padding: 1em 2em;
				color: $lightishblue;
				background-color: white;
				position: absolute;
				right: 100px;
				top: 45px;
				cursor: pointer;
				text-transform: uppercase;
				font-weight: 600;
				&:hover {
					background-color: rgb(240,240,240);
				}
			}
		}
	}
	footer {
		padding: 0 $leftrightpadding;
		display: flex;
		justify-content: space-between;
		background-color: #1F2E39;
		margin-top: 100px;
		padding-top: 50px;
		.links {
			flex: 1;
			display: flex;
			flex-direction: column;
			h3 {
				font-size: 20px;
				letter-spacing: 0.2px;
		    margin-bottom: 2em;
		    font-weight: 600;
				color: white;
			}
			a {
				margin-bottom: 0.7em;
				color: white;
				opacity: 0.5;
				font-size: 18px;
				letter-spacing: 0.2px;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					opacity: 1;
				}
				&.country {
					margin-top: 1.5em;
				}
				.dropdown {
					margin-left: 5px;
					font-size: 0.7em;
				}
			}
		}
	}
	.copyright {
		padding-top: 40px;
		padding-bottom: 160px;
		text-align: center;
		background-color: #1F2E39;
		color: rgba(white, 0.5);
	}
}
}
