@import "variables";
.job-detail {
  .main-detail {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      img.logo  {
        height: 100px;
        width: 100px;
        border-right: 100px;
      }
      a {
        width: 120px;
        height: 40px;
        border: 0;
        font-weight: 500;
        text-align: center;
        line-height: 36px;
        font-size: 14px;
        background-color: transparent;
        color: $opaque-color;
        cursor: pointer;
        outline: 0;
        margin-top: -20px;
        text-decoration: underline;
      }
    }
    .right {
      font-size: 14px;
      padding: 30px;
      padding-bottom: 10px;
      color: $opaque-color;
      .info {
        letter-spacing: 0.2px;
        margin-bottom: 20px;
        img {
          margin-right: 20px;
        }
      }
    }
  }
  .openings {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-left: 55px;
    margin-bottom: 35px;
  }
  .job-item {
    margin: 15px 30px;
    padding: 20px 30px;
    background: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid $cloudyblue;
    border-radius: 3px;
    &:hover {
      box-shadow: $shadow 1px 1px 10px 2px;
    }
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.2px;
      }
      .other {
        font-weight: 600;
        color: $opaque-color;
        letter-spacing: 0.5px;
        font-size: 14px;
      }
      .right {
        img {
          margin-right: 10px;
        }
        letter-spacing: 0.5px;
        font-weight: 600;
        color: $opaque-color;
        font-size: 14px;
      }
    }
    .middle {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .description {
        width: 70%;
        font-size: 13px;
        opacity: 0.4;
        font-weight: 300;
      }
      button {
        border: 1px solid $cloudyblue;
        border-radius: 100px;
        width: 120px;
        height: 40px;
        text-align: center;
        line-height: 36px;
        font-size: 14px;
        background-color: white;
        color: $opaque-color;
        cursor: pointer;
        outline: 0;
        font-weight: 600;
        &:hover {
          background-color: $lightishblue;
          border: 0;
          color: white;
        }
      }

    }
    .bottom {
      display: flex;
      color: $opaque-color;
      .left {
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
  .container {
    margin: 15px 30px;
    border: 1px solid $cloudyblue;
    border-radius: 3px;
    background: white;

    .about-company, .perks, .benifits {
      padding: 20px 30px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      color: $opaque-color;
      h4 {
        font-weight: 600;
        margin-bottom: 20px;
        color: $darkcolor;
      }
    }
    .perks, .benifits {
      div:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

}
