@import "variables";
.job-list-item {
  background-color: $job-item;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  letter-spacing: 0.5px;
  border: 1px solid $job-item;
  border-bottom: 1px solid $cloudyblue;
  margin-right: 10px;
  border-right: 1px solid $cloudyblue;
  &:hover {
    border: 1px solid $lightishblue;
    background-color: #fff;
  }
  &.selected {
    background-color: #fff;
    border: 1px solid $cloudyblue;
    border-top: 1px solid #fff;
    &:hover {
      border: 1px solid #fff;
      border-bottom: 1px solid $cloudyblue;
      border-right: 1px solid $cloudyblue;
    }
    .job-item-footer {
      button.apply {
        background-color: #677a88;
        color: white;
        border: 0;
      }
    }
    &::before {
      content: " ";
      width: 0;
    	height: 0;
    	border-top: 9px solid transparent;
    	border-left: 8px solid $cloudyblue;
    	border-bottom: 10px solid transparent;
      position: absolute;
      left: 100%;
      top: 43%;
      margin-top: -1px;
      margin-left: 1px;
    }
    &::after {
      content: " ";
      width: 0;
    	height: 0;
    	border-top: 8px solid transparent;
    	border-left: 8px solid #fff;
    	border-bottom: 8px solid transparent;
      position: absolute;
      left: 100%;
      top: 43%;
    }
  }
  .restaurant {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    &>img {
      margin-left: 30px;
      margin-right: 30px;
      height: 70px;
      border-radius: 100%;
    }
    .name {
      flex: 1;
      font-size: 20px;
    }
    .type {
      width: 230px;
      font-size: 14px;
      color: $opaque-color;
      img {
        margin-right: 15px;
      }
    }
  }
  .description {
    display: flex;
    margin-left: 130px;
    margin-bottom: 23px;
    font-size: 14px;
    .title {
      width: 120px;
    }
    .compensation, .job-type, .location {
      color: $opaque-color;
    }
    .flex-middle {
      flex: 1;
      display: flex;
    }
    .location {
      img {
        margin-right: 15px;
      }
      width: 230px;
    }
  }
  .job-item-footer {
    font-size: 14px;
    display: flex;
    margin-left: 130px;
    justify-content: space-between;
    align-items: center;
    .time {
      &>div{
        position: relative;
        top: -18px;
        font-size: 12px;
      }
      color: $opaque-color;
      line-height: 28px;
      font-weight: 500;
      img {
        padding-right: 16px;
      }
    }
    button.apply {
      border: 1px solid $cloudyblue;
      border-radius: 100px;
      width: 120px;
      height: 40px;
      text-align: center;
      line-height: 36px;
      font-size: 1em;
      background-color: #fff;
      margin-right: 100px;
      color: $opaque-color;
      cursor: pointer;
      outline: 0;
      font-weight: 600;
      &:hover {
        background-color: $lightishblue;
        color: white;
      }
    }
  }
}
