@import "variables";
$navbarheight: 100px;
.jobs-container {
  .navbar {
    height: $navbarheight;
    display: flex;
    align-items: center;
    .logo {
      padding: 30px;
      border-right: 1px solid $cloudyblue;
    }
    .search-area {
      flex: 1;
      display: flex;
      align-items: center;
      img {
        margin-left: 40px;
        margin-right: 30px;
        position: relative;
        top: 3px;
      }
      .search-term {
        font-size: 14px;
        background: #EEF2F5;
        padding: 14px;
        border-radius: 100px;
        padding-right: 40px;
        cursor: pointer;
        margin-right: 20px;
        position: relative;
        .close {
          position: absolute;
          right: 5px;
          top: 7px;
          font-size: 24px;
          cursor: pointer;
          border: 1px solid $cloudyblue;
          color: $cloudyblue;
          border-radius: 100%;
          height: 26px;
          width: 26px;
          text-align: center;
          line-height: 23px;
          &:hover {
            box-shadow: $shadow 1px 1px 1px 0;
          }
        }
      }
      input {
        outline: none;
        border: none;
        flex: 1;
        line-height: $navbarheight - 2;
        font-size: 14px;
        &::placeholder {
          color: $darkcolor;
        }
      }
    }
    .avatar-area {
      margin-right: 9vw;
      display: flex;
      align-items: center;
      .bell {
        margin-right: 30px;
      }
      .user {
        letter-spacing: 0.5px;
        margin-right: 10px;
        font-size: 14px;
        text-transform: uppercase;
      }
      .avatar {
        width: 37px;
        border-radius: 100%;
      }
    }
  }
  .profile-completion-status {
    border: 1px solid $cloudyblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    .status-bar {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: $status-background;
      z-index: -1;
    }
  }
  .main {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 150px);
    .job-list {
      width: 50vw;
      min-width: 650px;
      display: flex;
      flex-direction: column;
      .filter-bar {
        padding: 20px 0;
        border: 1px solid $cloudyblue;
        border-top: 0;
        display: flex;
        justify-content: space-around;
        .filter {
          font-size: 14px;
          cursor: pointer;
        }
      }
      .list {
        border-right: 1px solid $cloudyblue;
        flex: 1;
        .job-not-found {
          padding: 30px;
        }
      }
    }
    .job-detail {
      flex: 1;
      background-color: $detail-background;
      .main-detail {
        img.logo {
          height: 100px;
          border-radius: 100%;
        }
      }
    }
  }
}
