@import "variables";
$leftrightpadding: 30px;
.signup-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 30px;
  min-height: 100vh;
  background: url('../images/background-left.png') no-repeat, url('../images/background-right.png') no-repeat 100%, white;
  background-size: 40% 100%, 20% 100%;
  .nav-wrapper {
    width: 100%;
    padding: 30px $leftrightpadding;
    .links {
      display: none;
    }
  }
  &>h2{
    font-size: 24px;
    font-weight: 700;
    color: $lightishblue;
    margin: 30px;
    margin-top: -30px;
  }
  .login-form {
    border: 1px solid $border-color;
    background-color: #fff;
    box-shadow: rgba(28,55,105,0.1) 0 30px 40px;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    .top {
      display: flex;
      margin-bottom: 30px;
      .talent, .employer {
          width: 217px;
          height: 66px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
      }
      .employer {
        color: rgba(31, 46, 57, 0.5);
        background-color: #f4f8fb;
      }
    }
    .social {
      margin: 30px;
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: 20px;
      margin-top: 0;
      align-self: stretch;
      .button {
        width: 170px;
        height: 60px;
        border-radius: 3px;
        font-size: 14px;
        line-height: 17px;
        color: $opaque-color;
        font-weight: 700;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color;
        &:hover {
          box-shadow: 0 6px 15px 0 rgba(45, 106, 217, 0.27);
        }
        &.facebook {
          background: url('../images/facebookfull.png') no-repeat -25px 10px;
        }
        &.google {
          background: url('../images/google.png') no-repeat -25px 12px;
        }
      }
    }
    .or {
      position: absolute;
      font-weight: 700;
      font-size: 14px;
      background-color: #fff;
      padding: 0 10px;
      bottom: 103px;
      left: 200px;
      color: $opaque-color;
    }
    hr {
      height: 2px;
      background-color: $border-color;
      margin: 0 30px 30px;
      border: 0;
      align-self: stretch;
    }
    input{
      width: 370px;
      height: 60px;
      border-radius: 3px;
      outline: none;
      font-size: 14px;
      font-weight: 500;
      padding-left: 30px;
      border: 1px solid $border-color;
      margin-bottom: 20px;
      &::placeholder{
        font-weight: 500;
      }
      &[value=""]{
        background-color: #f4f8fb;
        color: $opaque-color;
      }
    }
    .password-wrapper {
      position: relative;
      .show-hide {
        position: absolute;
        right: 30px;
        font-size: 14px;
        opacity: 0.3;
        top: 23px;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .terms {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      width: 370px;
      a {
        text-decoration: none;
        color: $lightishblue;
      }
    }

    .line {
      height: 2px;
      width: 100%;
      margin: 20px 0;
      background-color: $border-color;
    }
    .bottom {
      font-size: 14px;
      display: flex;
      font-weight: 700;
      margin-top: 15px;
      align-self: stretch;
      justify-content: space-between;
      padding: 0 30px;
      margin-bottom: 25px;
      align-items: center;
      .left {
        .text {
          opacity: 0.4;
          margin-bottom: 5px;
        }
      }
      .signup {
        text-decoration: none;
        color: $lightishblue;
      }
      button {
        outline: none;
        border: 0;
        color: white;
        font-weight: 700;
        font-size: 14px;
        background-color: $lightishblue;
        width: 170px;
        height: 60px;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          box-shadow: 0 6px 15px 0 rgba(45, 106, 217, 0.27);
        }
      }
    }
  }
}
