@import "reset";
@import "variables";

@font-face {
	font-family: Gilory;
	src: url('font/regular.otf') format("opentype");
}

@font-face {
	font-family: Gilory;
	font-weight: 300;
	src: url('font/light.otf') format("opentype");
}

@font-face {
	font-family: Gilory;
	font-weight: 500;
	src: url('font/medium.otf') format("opentype");
}

@font-face {
	font-family: Gilory;
	font-weight: 700;
	src: url('font/semibold.otf') format("opentype");
}

@font-face {
	font-family: Gilory;
	font-weight: 900;
	src: url('font/extrabold.otf') format("opentype");
}


button {
  font-family: 'Gilory', sans-serif;
}

body {
  font-family: 'Gilory', sans-serif;
  color: $darkcolor;
  font-size: 18px;
	letter-spacing: 0.2px;
}
