@import "reset";
@import "variables";

@font-face {
	font-family: Gilory;
	src: url('font/gilory-light.otf') format("opentype");
}

@font-face {
	font-family: Gilory;
	font-weight: bold;
	src: url('font/gilory-extrabold.otf') format("opentype");
}

body {
  font-family: 'Gilory', sans-serif;
  color: $darkcolor;
  letter-spacing: 0.5px;
  font-size: 18px;
}
