@import "reset";
@import "variables";

@font-face {
	font-family: Gilory;
	font-weight: 200;
	src: url('font/ultralight.woff2') format("woff2");
}

@font-face {
	font-family: Gilory;
	font-weight: 400;
	src: url('font/gilory-light.otf') format("opentype");
}

@font-face {
	font-family: Gilory;
	font-weight: 500;
	src: url('font/regular.woff2') format("woff2");
}

@font-face {
	font-family: Gilory;
	font-weight: 600;
	src: url('font/semibold.woff2') format("woff2");
}

@font-face {
	font-family: Gilory;
	font-weight: 900;
	src: url('font/gilory-extrabold.otf') format("opentype");
}


button {
  font-family: 'Gilory', sans-serif;
}

body {
  font-family: 'Gilory', sans-serif;
  color: $darkcolor;
  letter-spacing: 0.5px;
  font-size: 18px;
}
