@import "variables";
$leftrightpadding: 30px;
.welcome-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 30px;
  min-height: 100vh;
  background: url('../images/background-left.png') no-repeat, url('../images/background-right.png') no-repeat 100%, white;
  background-size: 40% 100%, 20% 100%;
  .nav-wrapper {
    width: 100%;
    padding: 30px $leftrightpadding;
    .links {
      display: none;
    }
  }
  .content {
    .default {
      background-image: url('../images/welcome.png');
      background-size: 850px 655px;
      min-width: 770px;
      min-height: 600px;
      border-radius: 3px;
      position: relative;
      background-position: -40px -5px;
      .greet {
        border-radius: 3px;
        top: 30px;
        bottom: 30px;
        right: 30px;
        position: absolute;
        width: 360px;
        background-color: #fff;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          font-size: 36px;
          font-weight: 900;
        }
        .text {
          margin-top: 20px;
          margin-bottom: 40px;
          font-weight: 500;
          font-size: 14px;
          line-height: 30px;
          a {
            text-decoration: none;
            color: $lightishblue;
            &:visited {
              color: #4a90e2;
            }
          }
        }
      }
    }
    .profile-picture,.gender-page,.language-page,.award-page,.experience-page,.education-page,.title-page {
      min-width: 770px;
      min-height: 600px;
      border-radius: 3px;
      position: relative;
      background-color: #fff;
      box-shadow: rgba(28,55,105,0.10) 3px 4px 40px;
      padding: 30px;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 20px;
        font-weight: 700;
      }
      .controls {
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .buttons-container {
      margin-top: 30px;
      &>button {
        margin-right: 20px;
        &.save, &.cancel {
          width: 130px;
          height: 40px;
        }
      }
    }
    button.next, button.save {
      background-color: $lightishblue;
      color: white;
      font-size: 14px;
      width: 150px;
      height: 45px;
      border-radius: 100px;
      outline: none;
      border: 0;
      cursor: pointer;
      &:hover {
        box-shadow: 0 6px 15px 0 rgba(45, 106, 217, 0.27);
      }
    }
    button.previous, button.cancel {
      background-color: white;
      color: $opaque-color;
      font-size: 14px;
      width: 150px;
      height: 45px;
      border-radius: 100px;
      outline: none;
      border: 1px solid $border-color;
      cursor: pointer;
      &:hover {
        box-shadow: 0 6px 15px 0 rgba(45, 106, 217, 0.27);
      }
    }
    .input-container {
      display: flex;
      flex-flow: row wrap;
      width: 600px;
      &>.input-wrapper {
        margin-right: 10px;
        width: calc(50% - 10px);
        position: relative;
        margin-top: 20px;
        label {
          font-size: 14px;
          font-weight: 700;
          display: block;
          position: absolute;
          top: -20px;
        }
        input.empty+label{
          display: none;
        }
        input {
          background-color: #ffffff;
          border-radius: 3px;
          border: solid 1px #cbd6dd;
          font-size: 14px;
          font-weight: 500;
          padding-left: 20px;
          height: 50px;
          width: 100%;
        }
      }
    }
    .checkbox {
      width: 20px;
      height: 20px;
      cursor: pointer;
      &.value-checked {
        background-image: url('../images/checked.png');
        border:none;
      }
      &.value-unchecked {
        border:1px solid $border-color;
        border-radius: 2px;
      }
    }
    .dropdown {
      .Select-control {
        border-radius: 3px;
        height: 50px;
        border: 1px solid $cloudyblue;
        color: $darkcolor;
        .Select-placeholder {
          padding-left: 20px;
          color: $opaque-color;
          line-height: 48px;
        }
        .Select-value{
          padding-left: 20px;
          line-height: 48px;
        }
        .Select-input > input {
          padding-left: 10px;
          padding-top: 15px;
          font-weight: 700;
        }
      }
      .Select-option, .Select-noresults {
        padding-left: 20px;
      }
    }
    .add-item-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      width: 268px;
      height: 268px;
      border-radius: 3px;
      background-color: #f4f8fb;
      border: solid 1px #cbd6dd;
      font-size: 20px;
      font-weight: 700;
      color: $opaque-color;
      .plus {
        font-size: 48px;
        font-weight: 300;
        cursor: pointer;
      }
      .action {
        letter-spacing: 0.29px;
        cursor: pointer;
      }
    }
    .gender-page {
      .gender {
        display: flex;
        margin-top: 150px;
      }
      .nogender {
        margin-top: 50px;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        .checkbox{
          margin-right: 10px;
        }
        .text {
          opacity: 0.5;
        }
      }
      .gender-circle {
        width: 89px;
      	height: 89px;
        margin-left: 15px;
        margin-right: 15px;
      	border-radius: 100px;
      	background-color: #ffffff;
      	border: solid 1px $border-color;
        cursor: pointer;
        &>div {
          width: 100%;
          height: 100%;
          opacity: 0.5;
          position: relative;
          &::after {
            position: absolute;
            bottom: -30px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.2px;
            left: 4px;
            right: 0;
            text-align: center;
          }
        }
        &.selected {
          background-color: #f4f8fb;
          &>div{
            opacity: 1;
          }
        }
        &.male>div {
          background-image: url('../images/male.png');
          background-position: 0 18px;
          &::after {
            content: "Male"
          }
        }
        &.female>div {
          background-image: url('../images/female.png');
          background-position: -2px 18px;
          &::after {
            content: "Female"
          }
        }

      }
    }
    .award-page {
      .add-award {
        margin-top: 150px;
        .input-container {
            .year-wrapper {
              width: calc(50% - 10px);
              margin-top: 48px;
              font-weight: 700;
              font-size: 14px;
              position: relative;
              &::before {
                position: absolute;
                top:-20px;
                content: "Date Recieved"
              }
            }
        }
      }
    }
  }
}
